<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>The Black Cat</h1>
                    <hr class="small">
                    <span class="subheading">by Edgar Allan Poe - 1845</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="text-center">
                <h2>The Story</h2>
                <hr class="small">
            </div>
            <div class="story-description">
                "The Black Cat" is one of Edgar Allan Poe's most memorable stories. The tale centers around a black cat and the subsequent deterioration of a man. The story is often linked with "The Tell-Tale Heart" because of the profound psychological elements these two works share. "The Black Cat" first appeared in The Saturday Evening Post on August 19, 1843. This first-person narrative falls into the realm of Horror/Gothic Literature, and has been examined in association with themes of insanity and alcoholism.
            </div>
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#/story">Read The Story &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="text-center">
                <h2>The Author</h2>
                <hr class="small">
            </div>
            <div class="col-sm-4 col-sm-push-8 col-xs-12">
                <div class="author-image">
                    <img class="center-block img-responsive img-circle" src="img/author-edgar-allan-poe.png" />
                </div>
            </div>
            <div class="col-sm-8 col-sm-pull-4 col-xs-12">
                <div class="author-description">
                    Born January 19, 1809, Boston, Massachusetts, U.S. American short-story writer, poet, critic, and editor Edgar Allan Poe's tales of mystery and horror initiated the modern detective story, and the atmosphere in his tales of horror is unrivaled in American fiction.
                </div>
            </div>
        </div>
    </div>
</div>
